@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
    background-color: rgba(30, 30, 30, 1);
}

.welcome {
    color: white;
    font-family: 'Open Sans';
    font-size: 100px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.character {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 60%;
    transition: transform 800ms cubic-bezier(0.78, 0, 0.16, 0.99);
}

.character:hover {
    transform: translateY(-20px) scale(1.05);
}

@media only screen and (min-width: 1200px) {
    .welcome {
        font-size: 250px;
        margin-left: 40%;
        margin-top: 0px;
    }
}